{% extends "layout.html" %}
{% block content %}
<h2>Heart-Health Associated Register of Trauma (HART) DBMS</h2>
<p>WELCOME to HART - Heart Health Trauma Registry. This is an Relational Database Management System for tracking the health information for a mock-study proposal “Relationship Between Obesity and Cardiovascular Disease” submitted as a partial requirement fulfilment for the course “Introduction to database management systems”
    Researchers in the healthcare domain, have undeniably increasing demand for an efficient health information management system. Petabytes of patient’s data are recorded, analyzed and uploaded each second, yet the digitization of the paper records and possible upgrade to electronic record management system is dawdling. 
    HART is desined for tracking the patient health and personal information for a mock-study proposal “Relationship Between Obesity and Cardiovascular Disease” submitted as a partial requirement fulfilment for the course “Introduction to database management systems”.
    With 
    </p>
{% endblock %}