<!DOCTYPE html>
<html>
<head>
    <title>HART RDBMS</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
    <ul>
        <li><a class="active" href="/">HART</a></li>
        <li><a href="/DisplayAllUsers">Display All Users</a></li> 
        <li><a href="/InsertNewUser">Insert New User</a></li>    
        <li><a href="/Patients">All Patients</a></li>
        <li><a href="/InsertNewPatient">Insert New Patient</a></li> 
        <li><a href="/PatientHealthInfo">Patients Health Information</a></li>      
        
        
        
        <li style="float:right"><a href="#">Contact</a></li>
      </ul>
<div>
    {% block content %} {% endblock %}
</div>
</body>
</html>
