{% extends 'layout.html' %}

{% block content %}
  <h1>All Patients Details</h1>
    <table>
    <tr><th>Patient's Name</th><th>Doctor's Name </th><th>Doctor's Speciality</th><th>Hypertension</th><th>BMI</th><th>Smoking Status</th><th>Major Event</th></tr>
    {% for pat in HealthInfo %}
      <tr><td>{{pat.PatName}}</td><td>{{pat.DocName}}</td><td>{{pat.Speciality}}</td><td>{{pat.Hypertension}}</td><td>{{pat.BMI}}</td><td>{{pat.Smokingstatus}}</td><td>{{pat.MajorEvent}}</td></tr>
    {% endfor %}
    </table>
{% endblock %}


